.title-wrapper h2 {
  font-family: Bebas Neue, sans-serif;
  font-size: 3.5rem !important;
}
.casual-shoes,
.formal-shoes,
.customer-reaction,
.customer-care {
  margin: 5rem 0rem;
}
.casual-shoes h2,
.formal-shoes h2,
.customer-care h2 {
  font-family: Bebas Neue, sans-serif;
  font-size: 3rem !important;
}
.carousel-item {
  height: 100%;
}
.title-color {
  color: #fa804c;
}
.slider-image {
  width: 100%;
  height: auto;
  padding-bottom: 2rem;
}
.slider-image {
  background-image: url("../icons/Group 33102.png");
  background-position: center;
  background-size: cover;
  width: 32rem;
  height: 33rem;
  padding-bottom: 2rem;
}

.slider-image img {
  padding-bottom: 2.5rem;
  padding: 3.5rem;
  margin-left: 20%;
  margin-top: 28%;
}
.formal-shoes-card-wrapper {
  background-color: #fff;
}

.card img {
  background-color: #dedede;
  height: 22rem;
}
.formal-shoes img {
  background-color: #fff;
}
.price h3 {
  color: #fa804c;
  font-weight: 700;
  font-size: 1.8rem;
}
.btn {
  background-color: #3847ce;
}
.header {
  background-color: #fff9f4;
  height: 40rem;
}
.customer-info-image img {
  width: 150px;
  height: 80px;
  padding: 1rem;
}
.customer-description {
  padding: 1rem;
}
.fa {
  color: #ddd;
  font-size: 1.5rem;
}
.contact {
  font-size: 15px;
}
